{% extends 'base.html.twig' %}

{% block title %}Login user{% endblock %}

{% block body %}
    <style>
        #login {
            margin-top: 50px;
            border-radius: 0px;
            border: 1px dotted black;
        }
    </style>

    <div class="col-md-12 text-center">
        <div id="login" class="col-md-offset-4 col-md-4 text-left">
            <h1 style="text-align: center">Login User</h1>
            <hr>

            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <form action="{{ path('login') }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"
                >
                <label for="username">Enter Email *</label>
                <input class="form-control" type="text" id="username" name="username" value="{{ last_username }}" />

                <label for="password">Enter Password *</label>
                <input class="form-control" type="password" id="password" name="password" />

                <button class="form-control btn btn-success" type="submit">Login</button>
            </form>

            <br><br>
            <p class="text-center">
                If you don't have an account please <a href="/register">register</a>
            </p>
        </div>
    </div>
{% endblock %}
